@font-face 
    font-family: Montserrat
    src: url('../assets/fonts/montserrat.ttf')

    
    
*
    box-sizing: border-box
    position: relative
    color: white
    font-family: Montserrat
    font-style: normal 
#root,
html,
.App
    width: 100vw
    height: 100vh

h1,
h2,
h3,
h4,
h5,
h6
    margin: 0