.button
    padding: 8px 18px
    font-size: 12px
    display: flex
    justify-content: center
    align-items: center
    line-height: 1
    border: 1px solid #FFFFFF
    border-radius: 1px
    text-transform: lowercase
    background: transparent