.feed
    width: 100%
    height: 100%
    border-right: 1px solid white
    &__inner
        width: 460px
        display: flex
        flex-direction: column
    &__item
        display: flex
        flex-direction: column
        margin-bottom: 17px
        &-top
            display: flex
            margin-bottom: 20px
        &-meta
            display: flex
            flex-direction: column
            align-items: start
        &-date
            font-weight: 300
            font-size: 10px
            line-height: 120%
            letter-spacing: -0.03em
            margin-bottom: 2px
        &-title
            font-weight: 600
            font-size: 16px
            line-height: 120%
            margin-top: 8px
            margin-bottom: 13px
            text-transform: uppercase
        &-link
            font-weight: 300
            font-size: 10px
            color: white
            text-decoration: none
        &-content
            font-weight: 400
            font-size: 10px
            line-height: 140%
            letter-spacing: -0.03em
