.header
    display: flex
    justify-content: center
    align-items: center
    padding: 20px 0
    &:after
        width: 50%
        height: 2px
        bottom: -2px
        left: 50%
        position: absolute
        content: ''
        background: white
        transform: translateX(-50%)
    &__item
        width: calc(100% / 3)
        display: flex
        justify-content: center
    &__logo
        margin-right: auto
        font-size: 20px
        font-weight: 600
        text-transform: uppercase
        display: flex
        align-items: center
        justify-self: start
        &-img
            width: 30px
            height: 30px
            margin-right:  10px
    &__button
        margin-left: auto
    &__player