.layout
    min-width: 100vw
    min-height: 100vh
    background: black
    display: flex
    padding: 0 93px
    &__left
        height: 100%
        width: 100%
        display: flex
        flex-direction: column
    &__main
        height: 100%
        display: flex
        padding-top: 58px
    &__right
        // width: 100%
        width: 0
        height: 100%
        display: flex    